<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my API!</h1>
</body>
<p>This is a simple API built with Express.js</p>

    <p>I am Marwan Amoghrabi</p> 
    <p>Welcome to Blockchain Data Center</p>
    <p>Here are numbers from 1 to 100:</p>
    <p> <span style="background-color: orange; color: white; border-radius: 5px; padding: 5px;"><%= numbers %></span></p>
<p><%  %></p>

</body>
</html>